.header {
  grid-area: h;
  background-color: #2a2f43;
}
.logo {
  background-color: aquamarine;
  height: 60px;
  width: 235px;
  display: table;
  text-align: center;
}
.loginBlock {
  float: right;
  color: crimson;
}
