.navbar {
  grid-area: n;
  background-color: aquamarine;
  padding-left: 50px;
  padding-top: 10px;
  line-height: 2;
}
.item a {
  text-decoration: none;
  color: black;
}
.item a.active {
  color: azure;
}
